@import "tailwindcss";
@import "tw-animate-css";
@import "../../../tooling/tailwind/theme.css";
/* Extending the styles from "@de100/ui-solidjs/styles/base.css" */
@import "@de100/ui-solidjs/styles/base.css";

#app {
	display: contents;
}

html {
	background-color: var(--color-background);
}

body {
	min-height: 100vh;
	background-color: var(--color-background);
	color: var(--color-foreground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	cursor: pointer;
}
